<div class="service-wrapper">
  <div class="service-top"> 
    <div class="service-top__search">
      <mat-form-field class="field-search">
        <input #input matInput (keyup)="onSearch(input.value)" placeholder="Search">
      </mat-form-field>      
    </div>
    <div class="service-top__add">      
      <button mat-raised-button class="add-button" (click)="onAddService($event)" *ngIf="allow">Add Service</button>
    </div>
  </div>
  <div class="table-container">
    <table mat-table matSort [dataSource]="element" class="mat-elevation-z8 table-service" *ngIf = 'source$ | async as element'>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number" class="column-name"> Name </th>
        <td mat-cell *matCellDef="let element" class="column-name" >
          <span [matTooltip]="element.name" matTooltipPosition="right" [innerHTML]="element.name | slicetext : 'short' | highlighter: input.value"></span>
        </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number" class="column-description"> Description </th>
        <td mat-cell *matCellDef="let element" class="column-description">
          <span [matTooltip]="element.description" matTooltipPosition="right" [innerHTML]="element.description | slicetext : 'long' | highlighter: input.value"></span>
        </td>
      </ng-container>
      <ng-container matColumnDef="activity">
        <th mat-header-cell *matHeaderCellDef class="column-activity"> Actiivity </th>
        <td mat-cell *matCellDef="let element" class="column-activity">
          <span [matTooltip]="element.activity | activity" matTooltipPosition="right">{{element.activity | activity}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="column-action" [hidden]="!allow">Action</th>
        <td mat-cell *matCellDef="let element" class="column-action" [hidden]="!allow">
          <button mat-icon-button ><span class="material-icons button-edit" (click)="onUpdateService(element, $event)">edit</span></button>
          <button mat-icon-button color="warn" [matMenuTriggerFor]="menu"><span class="material-icons button-delete">delete</span></button>
          <mat-menu #menu="matMenu" class="delete">
            <div class="delete-wrapper">
              <div class="delete-title">Are you sure you want to delete?</div>
              <div class="delete-button">
                <button
                  mat-icon-button
                  class="delete-button__done"
                  (click)="onDeleteService(element.id)"
                  [mat-dialog-close]="true">
                  <span class="material-icons icon-done">done</span>
                </button>
                <button
                  mat-icon-button
                  class="delete-button__close"
                  mat-dialog-close>
                  <span class="material-icons  icon-close">close</span>
                </button>
              </div>
            </div>
          </mat-menu>
        </td>
      </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  </div>
</div>
